

    <h1>@ViewBag.Trip.name</h1>

    <h3>Description</h3>
    <p>@ViewBag.Trip.description</p>

    <h3>Trail Length:</h3>
    <p>@ViewBag.Trip.traillength Miles</p>

    <h3>Elevation Change:</h3>
    <p>@ViewBag.Trip.elevation Feet</p>

    <h3>Longitude- @ViewBag.Trip.log </h3>
    <h3>Latitude- @ViewBag.Trip.lat</h3>
    <a href="/"><button>Go Back!!!</button></a>
